In [2]:
import pandas as pd

In [71]:
# source file: http://www.insee.fr/fr/themes/detail.asp?reg_id=99&ref_id=pop-sexe-age-quinquennal
file_pop = '/cal/homes/piochaud/workpython/hackaton_2015/data/pop-sexe-age-quinquennal6812_3.xls'
skiprows = range(12) + [13]
sheetname = 'COM_2012'
data_pop = pd.read_excel(file_pop, skiprows=skiprows, sheetname=sheetname)

In [110]:
col = [46,5,0,1,14,15,16,17,18,19,20,21]
newcol = ['codgeo', 'commune', 'region', 'departement', 'n_pop_h_20-24', 'n_pop_f_20-24', 
          'n_pop_h_25-29', 'n_pop_f_25-29', 'n_pop_h_30-34', 'n_pop_f_30-34', 'n_pop_h_35-39',
          'n_pop_f_35-39']
pop = data_pop.iloc[:,col]
pop.columns = newcol
pop.head(5)

,codgeo,commune,region,departement,n_pop_h_20-24,n_pop_f_20-24,n_pop_h_25-29,n_pop_f_25-29,n_pop_h_30-34,n_pop_f_30-34,n_pop_h_35-39,n_pop_f_35-39
0,01001,ABERGEMENT-CLEMENCIAT,82,01,15.938462,3.984615,19.923077,15.938462,7.969231,11.953846,35.861538,35.861538
1,01002,ABERGEMENT-DE-VAREY,82,01,4.017094,8.034188,24.102564,12.051282,8.034188,12.051282,12.051282,16.068376
2,01003,AMAREINS,82,01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01004,AMBERIEU-EN-BUGEY,82,01,451.628436,497.208075,539.878329,545.762481,463.302878,443.071575,486.701181,428.758938
4,01005,AMBERIEUX-EN-DOMBES,82,01,36.579208,24.386139,48.772277,40.643564,32.514851,60.965347,69.094059,73.158416

In [54]:
#source file: http://www.insee.fr/fr/themes/detail.asp?reg_id=99&ref_id=base-cc-demo-entreprises
file_entr = '/cal/homes/piochaud/workpython/hackaton_2015/data/base-cc-demo-entreprises-2014.xls'
skiprows = range(4) + [5]
sheetname = 'COM'
data_entr = pd.read_excel(file_entr, skiprows=skiprows, sheetname=sheetname)

In [109]:
col = [0,1,2,4,5,12,13,14,19,25,26]
newcol = ['codgeo', 'commune', 'region', 'departement', 'n_entr_2014', 'n_entr_1an', 
          'n_entr_2ans', 'n_entr_3ans', 'dn_entr_2014', 'dn_entr_2013', 'dn_entr_2012']
entr = data_entr.iloc[:,col]
entr.columns = newcol
entr.head(5)

,codgeo,commune,region,departement,n_entr_2014,n_entr_1an,n_entr_2ans,n_entr_3ans,dn_entr_2014,dn_entr_2013,dn_entr_2012
0,01001,L'Abergement-Clémenciat,82,01,24,3,2,2,4,3,4
1,01002,L'Abergement-de-Varey,82,01,10,0,1,1,3,3,3
2,01004,Ambérieu-en-Bugey,82,01,792,74,66,79,125,93,112
3,01005,Ambérieux-en-Dombes,82,01,93,8,11,6,10,7,18
4,01006,Ambléon,82,01,4,2,0,0,0,3,1

In [57]:
#source file: http://www.insee.fr/fr/themes/detail.asp?reg_id=99&ref_id=base-cc-emploi-pop-active-2012
file_empl = '/cal/homes/piochaud/workpython/hackaton_2015/data/base-cc-emploi-pop-active-2012.xls'
skiprows = range(4) + [5]
data_empl = pd.read_excel(file_empl, skiprows=skiprows)

In [103]:
col = [0,3,1,2,17,18,42,46,43,47,80]
newcol = ['codgeo', 'commune', 'region', 'departement', 'n_actif_15-24', 'n_actif_25-54', 
          'n_chom_h_15-24', 'n_chom_f_15-24', 'n_chom_h_25-54', 'n_chom_f_25-54', 'n_cadre_sup']
empl = data_empl.iloc[:,col]
empl.columns = newcol
empl.head(5)

,codgeo,commune,region,departement,n_actif_15-24,n_actif_25-54,n_chom_h_15-24,n_chom_f_15-24,n_chom_h_25-54,n_chom_f_25-54,n_cadre_sup
0,01001,L'Abergement-Clémenciat,82,01,24.903846,292.869231,4.980769,1.992308,11.953846,9.961538,7.969231
1,01002,L'Abergement-de-Varey,82,01,11.047009,94.401709,0.000000,2.008547,4.017094,1.004274,0.000000
2,01004,Ambérieu-en-Bugey,82,01,1015.098279,5084.496305,95.979441,141.346814,279.196292,341.846124,849.459080
3,01005,Ambérieux-en-Dombes,82,01,117.866337,659.441832,8.128713,9.144802,9.144802,21.337871,13.100017
4,01006,Ambléon,82,01,3.928571,41.250000,0.982143,0.000000,0.000000,0.982143,NaN

In [108]:
concat = pd.concat([empl.set_index('codgeo'), entr.set_index('codgeo'), pop.set_index('codgeo')], axis=1, join='inner')
concat.head()

,commune,region,departement,n_actif_15-24,n_actif_25-54,n_chom_h_15-24,n_chom_f_15-24,n_chom_h_25-54,n_chom_f_25-54,n_cadre_sup,...,region,departement,n_pop_h_20-24,n_pop_f_20-24,n_pop_h_25-29,n_pop_f_25-29,n_pop_h_30-34,n_pop_f_30-34,n_pop_h_35-39,n_pop_f_35-39
codgeo,,,,,,,,,,,,,,,,,,,,,
01001,L'Abergement-Clémenciat,82,01,24.903846,292.869231,4.980769,1.992308,11.953846,9.961538,7.969231,...,82,01,15.938462,3.984615,19.923077,15.938462,7.969231,11.953846,35.861538,35.861538
01002,L'Abergement-de-Varey,82,01,11.047009,94.401709,0.000000,2.008547,4.017094,1.004274,0.000000,...,82,01,4.017094,8.034188,24.102564,12.051282,8.034188,12.051282,12.051282,16.068376
01004,Ambérieu-en-Bugey,82,01,1015.098279,5084.496305,95.979441,141.346814,279.196292,341.846124,849.459080,...,82,01,451.628436,497.208075,539.878329,545.762481,463.302878,443.071575,486.701181,428.758938
01005,Ambérieux-en-Dombes,82,01,117.866337,659.441832,8.128713,9.144802,9.144802,21.337871,13.100017,...,82,01,36.579208,24.386139,48.772277,40.643564,32.514851,60.965347,69.094059,73.158416
01006,Ambléon,82,01,3.928571,41.250000,0.982143,0.000000,0.000000,0.982143,NaN,...,82,01,0.000000,0.000000,0.000000,7.857143,3.928571,0.000000,7.857143,7.857143

In [112]:
from mpl_toolkits.basemap import Basemap
import numpy
import matplotlib.pyplot as plt

ImportError: No module named basemap

In [111]:
fig, axes = plt.subplots(1, 1, figsize=(8,8))
m = Basemap(llcrnrlon=-5,llcrnrlat=40,urcrnrlon=20,urcrnrlat=56,
            resolution='i',projection='cass',lon_0=2.34,lat_0=48,
           ax=axes)
m.drawcoastlines()
m.drawcountries()
m.fillcontinents(color='lightgrey', lake_color='#AAAAFF')
m.drawparallels(numpy.arange(-40,61.,2.))
m.drawmeridians(numpy.arange(-20.,21.,2.))
m.drawmapboundary(fill_color='#BBBBFF')

ImportError: No module named basemap